---- TO BE DONE ----
(Requirements needed to run the code)
	+ Python libraries for example
	+ Python version for example
	+ Etc...
---- TO BE DONE ----

* Working directory is assumed to be the project folder 'TDT4173-Project'
* Libraries used:
    numpy~=1.18.5
    pandas
    nltk~=3.5
    sckikit-learn
    keras~=2.4.3
    regex==2019.11.1
    scikit-learn~=0.23.2
    tensorflow~=2.3.1
    matplotlib~=3.3.2
    cycler~=0.10.0
    tabulate~=0.8.7
    pytest
    transformers~=3.4.0
