---- TO BE DONE ----
(Requirements needed to run the code)
	+ Python libraries for example
	+ Python version for example
	+ Etc...
---- TO BE DONE ----

* Working directory is assumed to be the project folder 'TDT4173-Project'
* Libraries used:
    numpy~=1.19.2